{% extends "layout.html" %}

{% block title %}
    Add Term
{% endblock %}

{% block main %}
    <div class="mx-auto text-center pt-5">
        <form action="/add_term" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="japanese" name="japanese" placeholder="Japanese Term" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="english" name="english" placeholder="English Term" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="topic" name="topic" placeholder="Topic" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Add Term</button>
        </form>
    </div>
{% endblock %}