{% extends "layout.html" %}

{% block title %}
    Delete
{% endblock %}

{% block main %}
    <div class="container py-5 text-center">
        <form action="/delete" method="POST">
            <h3>Delete this entry?</h3>
            <h4>Japanese: {{ term.japanese }}</h4>
            <h4>English: {{ term.english }}</h4>
            <button class="btn btn-danger" type="submit" value="delete">Delete</button>
            <button class="btn btn-warning" type="submit" value="cancel">Cancel</button>
            <input type="hidden" name="term_id" value="{{ term.id }}">
        </form>
    </div>
{% endblock %}