{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<!-- Topic Cards -->
<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer" id="python">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://www.svgrepo.com/show/376344/python.svg" alt="python-logo" />
                            </div>
                            <div class="text-container">
                                <h6>Python</h6>
                                <p>A widely used general-purpose, high level programming language.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer" id="java">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://cdn.worldvectorlogo.com/logos/java-duke.svg" alt="java-logo" />
                            </div>
                            <div class="text-container">
                                <h6>Java</h6>
                                <p>A multi-platform, object-oriented, and network-centric language that can be used as a platform in itself.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer" id="cpp">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://www.svgrepo.com/show/376358/c-plus-plus.svg" alt="cpp-logo" />
                            </div>

                            <div class="text-container">
                                <h6>C++</h6>
                                <p>A cross-platform language that can be used to create high-performance applications.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer" id="javascript">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://www.svgrepo.com/show/353925/javascript.svg" alt="javascript-logo" />
                            </div>
                            <div class="text-container">
                                <h6>JavaScript</h6>
                                <p>A multi-paradigm, dynamic language with types and operators, standard built-in objects, and methods.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}