{% extends "layout.html" %}

{% block title %}
    Terms List
{% endblock %}

{% block main %}

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">English</th>
                <th scope="col">Japanese</th>
                <th scope="col">Topic</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for term in terms %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td id="{{ term.english }}" data-value="{{ term.english }}">{{ term.english }}</td>
                    <td>{{ term.japanese }}</td>
                    <td>{{ term.name }}</td>
                    <td>
                        <div class="button-container">
                            <form action="/update" method="POST" class="form-inline">
                                <button class="btn btn-success" type="submit" name="button" value="{{ term.id }}">Update</button>
                            </form>
                            <form action="/delete" method="POST" class="form-inline">
                                <button class="btn btn-danger" type="submit" name="button" value="{{ term.id }}">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}