.navbar {
  background-color: lightpink;
}

.navbar-brand {
  color: #ffffff;
  font-size: 2rem;
  font-weigth: bold;
}

.nav-link {
  color: #ffffff;
  font-size: 1rem;
  font-weigth: bold;
}

#searchButton {
  color: white;
  font-weight: bold;
}

.navbar-toggler {
  transition-delay: 0.8s;
}

.navbar-toggler:hover {
  background-color: white;
}

.card-text {
  min-height: 10rem;
}

