{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <!-- table headers -->
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Type</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <!-- table contents -->
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td class="text-start">{{ transaction.symbol }}</td>
                <td class="text-end">{{ transaction.type }}</td>
                <td class="text-end">{{ transaction.share_qty }}</td>
                <td class="text-end">${{ transaction.price }}</td>
                <td class="text-end">{{ transaction.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
