{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    {% for dict_item in stocks %}
        {% for key, value in dict_item.items() %}
            <th>Key: {{key}}</th>
            <td>Value: {{value}}</td>
        {% endfor %}
    {% endfor %}


    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
       <tbody>

                <tr>
                    <td class="text-start">{{ dict_items.symbol }}</td>
                    <td class="text-start">{{ dict_items.name }}</td>
                    <td class="text-end">{{ dict_items.shares}}</td>
                    <td class="text-end">${{ dict_items.price }}</td>
                    <td class="text-end">${{ dict_items.total}}</td>
                </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">$9,074.18</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">$10,033.16</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
